.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;
  // 1200px;
  @media only screen and (max-width: 75em) {
    max-width: 100%;
    margin: 0;
  }
}
