.review {
  background-color: var(--color-white);
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;

  @media only screen and (max-width: 56.25em) {
    padding: 2rem;
    margin-bottom: 3rem;
  }

  &__text {
    margin-bottom: 2rem;
  }

  &__user {
    display: flex;
    align-items: center;

    &__box {
      align-self: flex-start;
      padding-left: 1.5rem;
      &__name {
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 0.4rem;
      }
      &__date {
        font-size: 1rem;
        color: var(--color-grey-dark-3);
      }
    }

    &__rating {
      color: var(--color-primary);
      margin-left: auto;
      font-size: 2.2rem;
      font-weight: 300;
    }
  }
  &__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
  }
}
